/* 默认 (小屏幕) */
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem;
    padding: 2rem;
    /* 5 * 0.25rem = 1.25rem */
}

/* 屏幕宽度 >= 640px (sm) */
@media (min-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/* 屏幕宽度 >= 768px (md) */
@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* 屏幕宽度 >= 1024px (lg) */
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* 屏幕宽度 >= 1280px (xl) */
@media (min-width: 1600px) {
    .grid-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

/* 屏幕宽度 >= 1536px (2xl) */
@media (min-width: 2000px) {
    .grid-container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

/* 屏幕宽度 >= 1920px (3xl) */
@media (min-width: 2350px) {
    .grid-container {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}


.hook {
    border: none;
    padding: 20px;
    width: 360px;
    height: 500px;
    border-radius: 10px;
    /* background-color: #fefefe; */
    border: 1px solid rgb(228, 228, 231);
    color: #002F21;
    /* 白色背景 */
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 15px 0px, rgba(0, 0, 0, 0.08) 0px 2px 30px 0px, rgba(0, 0, 0, 0.3) 0px 0px 1px 0px;
    outline: rgba(0, 0, 0, 0) solid 2px;
    outline-offset: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
    cursor: pointer;
}

.hook:hover {
    box-shadow: 0 0 0 0 rgba(144, 50, 50, 0), 0 0 0 0 rgba(114, 109, 109, 0), 0px 4px 6px -1px rgba(158, 92, 92, 0.1), 0px 2px 4px -1px rgba(143, 84, 84, 0.06);
}

h2 {
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 10px;
}

button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #002F21;
    /* 蓝色背景 */
    color: #eee;
    /* 白色字体 */
}

button:hover {
    background-color: #099d71;
    /* 深蓝色悬停背景 */
    color: #F1F2F5;
}

.waterfall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.waterfall-image {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
}

.waterfall-image.loaded {
    opacity: 1;
}
