body {
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
  background-image: url('/bg.gif');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.board {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; */
  width: 100vw;
  min-height: 100vh;
}

h2 {
  color: aliceblue;
}