body {
    margin: 0;
}

#root {
    margin: 0 auto;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.board {
    /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; */
    padding: 20px;

}
